* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.common-btn {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  gap: 15px;
  border: 1px solid #fc724d;
  border-radius: 5px;
  background-color: #fc724d;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  transition: all linear 0.4s;
  cursor: pointer;
}

.common-btn:hover {
  background-color: #252b42;
  color: #fff;
  border: 1px solid #fc724d;
}

.p-same {
  color: #fc724d;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

#navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  padding: 34px 0;
  z-index: 55;
}
#navbar .container .nav-icon {
  float: inline-end;
  font-size: 30px;
  line-height: 55px;
  align-items: center;
  color: #fc724d;
}
#navbar .container .nav-icon #cheak {
  display: none;
}
#navbar .container .nav-icon .cheakbtn {
  cursor: pointer;
  display: none;
}
#navbar .container .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar .container .nav-wrapper .nav-logo {
  color: #252b42;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  cursor: pointer;
}
#navbar .container .nav-wrapper .nav-manu {
  margin-left: -200px;
}
#navbar .container .nav-wrapper .nav-manu ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
#navbar .container .nav-wrapper .nav-manu ul li a {
  color: #737373;
  text-transform: capitalize;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  transition: all linear 0.3s;
  cursor: pointer;
}
#navbar .container .nav-wrapper .nav-manu ul li a:hover {
  color: #252b42;
}
#navbar .container .nav-wrapper .nav-btn {
  display: flex;
  align-items: center;
}
#navbar .container .nav-wrapper .nav-btn .nav-login {
  display: flex;
  align-items: center;
  color: #fc724d;
  margin-right: 45px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

#banner {
  background-image: linear-gradient(90deg, #fff 14.24%, #fff 14.25%, rgba(255, 255, 255, 0) 99.55%), url(/image/hero-3-cover\ sec-.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner .banner-wrapper {
  padding-top: 275px;
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
}
#banner .banner-wrapper h1 {
  width: 561px;
  height: 160px;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 35px;
}
#banner .banner-wrapper .p-same {
  margin-bottom: 35px;
}
#banner .banner-wrapper .p-text-banner {
  color: #252b42;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  margin-bottom: 35px;
}
#banner .banner-wrapper .banner-btn {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#banner .banner-wrapper .banner-2nd-btn {
  background: transparent;
  color: #fc724d;
}
#banner .banner-wrapper .banner-2nd-btn:hover {
  background-color: #fc724d;
  color: #252b42;
}

#service {
  padding: 112px 0;
}
#service .service-wrapper .service-items-text .p-same {
  margin-bottom: 10px;
}
#service .service-wrapper .service-items-text h4 {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
#service .service-wrapper .service-items-text .servi-text {
  width: 470px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 112px;
}
#service .service-wrapper .service-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
#service .service-wrapper .service-card .service-cards {
  box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.1);
  width: 238px;
  padding: 35px 40px;
  border-radius: 5px;
}
#service .service-wrapper .service-card .service-cards img {
  width: 70px;
  margin-bottom: 20px;
}
#service .service-wrapper .service-card .service-cards h5 {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 40px;
  position: relative;
}
#service .service-wrapper .service-card .service-cards h5::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #fc724d;
  left: 0;
  bottom: -20px;
}
#service .service-wrapper .service-card .service-cards .card-para {
  width: 132px;
  color: #737373;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#service .service-wrapper .service-card .service-cards-3rd {
  background-color: #fc724d;
  width: 257px;
}
#service .service-wrapper .service-card .service-cards-3rd h5,
#service .service-wrapper .service-card .service-cards-3rd p {
  color: #fff !important;
}
#service .service-wrapper .service-card .service-cards-3rd .single-line {
  position: relative;
}
#service .service-wrapper .service-card .service-cards-3rd .single-line::after {
  position: absolute;
  content: "";
  color: #fff !important;
  width: 50px;
  height: 2px;
  left: 0;
  bottom: 0;
}

#video {
  background-color: #fff;
  padding: 160px 0;
}
#video .video-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#video .video-wrapper .video-text-part {
  display: flex;
  flex-direction: column;
}
#video .video-wrapper .video-text-part .line {
  width: 95px;
  height: 7px;
  margin-top: 33px;
  margin-bottom: 35px;
  background-color: #fc724d;
}
#video .video-wrapper .video-text-part h3 {
  width: 353px;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin-bottom: 35px;
}
#video .video-wrapper .video-text-part .video-descr {
  width: 351px;
  color: #252b42;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 35px;
}
#video .video-wrapper .video-text-part .dc-about {
  display: flex;
  align-items: center;
  gap: 10px;
}
#video .video-wrapper .doctor-video {
  position: relative;
  display: flex;
  align-items: center;
}
#video .video-wrapper .doctor-video .doc-vid-1 {
  border-radius: 10px;
}
#video .video-wrapper .doctor-video .doc-vid-2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#leading {
  background-color: #fff;
  padding: 100px 0;
}
#leading .container .leading-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
#leading .container .leading-wrapper .leading-img-part {
  width: 544px;
  height: 599px;
  position: relative;
  display: flex;
  gap: 50px;
  flex-direction: column;
}
#leading .container .leading-wrapper .leading-img-part .lead-img-1 {
  width: 116px;
  display: flex;
  align-self: flex-end;
}
#leading .container .leading-wrapper .leading-img-part .lead-img-2 {
  position: absolute;
  top: 20px;
  right: 33px;
  z-index: 2;
}
#leading .container .leading-wrapper .leading-img-part .lead-img-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
#leading .container .leading-wrapper .leading-text-part {
  width: 381px;
  display: flex;
  flex-direction: column;
}
#leading .container .leading-wrapper .leading-text-part .line-2 {
  width: 95px;
  height: 7px;
  margin-bottom: 35px;
  background-color: #fc724d;
  margin-top: 176px;
  margin-bottom: 35px;
}
#leading .container .leading-wrapper .leading-text-part h3 {
  width: 381px;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 35px;
}

#product {
  padding: 100px 0;
}
#product .container .product-wrapper .product-head-text {
  margin-bottom: 112px;
}
#product .container .product-wrapper .product-head-text h2 {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin: 10px 0;
}
#product .container .product-wrapper .product-head-text p {
  width: 469px;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#product .container .product-wrapper .product-section {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#product .container .product-wrapper .product-section .product-card {
  display: flex;
  flex-direction: column;
}
#product .container .product-wrapper .product-section .product-card .card-img {
  position: relative;
}
#product .container .product-wrapper .product-section .product-card .card-img img {
  width: 100%;
  display: flex;
  align-items: center;
}
#product .container .product-wrapper .product-section .product-card .card-img .shop {
  position: absolute;
  width: 100%;
  height: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  top: 90%;
  transform: translateY(-50%);
}
#product .container .product-wrapper .product-section .product-card .card-img .shop i {
  font-size: 20px;
  background-color: #fff;
  color: #fc724d;
  padding: 10px;
  border-radius: 50%;
}
#product .container .product-wrapper .product-section .product-card .card-text {
  padding: 25px 0 25px 25px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card-same {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card-same span {
  background-color: #252b42;
  color: #fff;
  border-radius: 50px;
  padding: 2px;
  font-size: 12px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card-same span i {
  color: #fc724d;
}
#product .container .product-wrapper .product-section .product-card .card-text .card_p_1 {
  width: 131px;
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 10px 0;
}
#product .container .product-wrapper .product-section .product-card .card-text .card_p_2 {
  width: 182px;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card_p_3 {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card_p_3 i {
  margin-right: 10px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card_p_4 {
  padding: 5px;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card_p_4 span {
  color: #0061ff;
  margin-left: 5px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card-more {
  width: 156px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #fc724d;
  border-radius: 50px;
  color: #fc724d;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-top: 10px;
}
#product .container .product-wrapper .product-section .product-card .card-text .card-more i {
  margin-left: 10px;
}

#exparts {
  padding: 100px 0;
}
#exparts .container .expart-wrapper {
  display: flex;
  flex-direction: column;
}
#exparts .container .expart-wrapper .expart-head-text {
  width: 50%;
  margin-bottom: 100px;
}
#exparts .container .expart-wrapper .expart-head-text h3 {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin: 10px 0;
}
#exparts .container .expart-wrapper .expart-head-text p {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#exparts .container .expart-wrapper .expart-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
#exparts .container .expart-wrapper .expart-info .expart-1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#exparts .container .expart-wrapper .expart-info .expart-1 img {
  border-radius: 50%;
  border: 2px solid #fc724d;
  margin-bottom: 30px;
}
#exparts .container .expart-wrapper .expart-info .expart-1 .description {
  color: #737373;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}
#exparts .container .expart-wrapper .expart-info .expart-1 .stars {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #fc724d;
  margin-bottom: 15px;
}
#exparts .container .expart-wrapper .expart-info .expart-1 h6 {
  color: #252b42;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 9px;
}
#exparts .container .expart-wrapper .expart-info .expart-1 .job-name {
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#team {
  padding: 100px 0;
}
#team .container .team-wrapper .team-head-text {
  width: 50%;
  margin-bottom: 80px;
}
#team .container .team-wrapper .team-head-text h3 {
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin: 10px 0;
}
#team .container .team-wrapper .team-head-text .team-about {
  width: 469px;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#team .container .team-wrapper .team-items {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#team .container .team-wrapper .team-items .team-parson {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: -3px 2px 21px -6px rgb(66, 68, 90);
}
#team .container .team-wrapper .team-items .team-parson img {
  border-radius: 20px 20px 0 0;
  margin-bottom: 30px;
}
#team .container .team-wrapper .team-items .team-parson h4 {
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
#team .container .team-wrapper .team-items .team-parson p {
  color: #737373;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}
#team .container .team-wrapper .team-items .team-parson .tem-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#team .container .team-wrapper .team-items .team-parson .tem-social i {
  font-size: 20px;
  color: #fc724d;
}

#joinus {
  padding: 100px 0;
}
#joinus .container .joinus-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#joinus .container .joinus-wrapper .joinus-head-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
#joinus .container .joinus-wrapper .joinus-head-txt h2 {
  margin: 10px 0;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}
#joinus .container .joinus-wrapper .joinus-head-txt .join-about {
  width: 469px;
  color: #737373;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
#joinus .container .joinus-wrapper .search-container {
  width: 50%;
}
#joinus .container .joinus-wrapper .search-container form {
  position: relative;
  width: 100%;
}
#joinus .container .joinus-wrapper .search-container form input {
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f0f0f0;
}
#joinus .container .joinus-wrapper .search-container form input:hover {
  border: none;
}
#joinus .container .joinus-wrapper .search-container form button {
  position: absolute;
  width: 20%;
  border: none;
  font-size: 16px;
  height: 58px;
  top: 0;
  right: 0;
  border-radius: 10px;
  background-color: #fc724d;
  color: #fff;
}/*# sourceMappingURL=medical.css.map */