$primary-text-color: #252b42;
$secondery-text-color: #fc724d;
$text-color: #737373;
$light-text-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.common-btn {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  gap: 15px;
  border-radius: 5px;
  background-color: $secondery-text-color;
  color: $light-text-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
