@import "./commoncode";

// Nav bar Part
#navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  padding: 34px 0;
  z-index: 55;
  .container {
    .nav-icon {
      float: inline-end;
      font-size: 30px;
      line-height: 55px;
      align-items: center;
      color: $secondery-text-color;
      #cheak {
        display: none;
      }
      .cheakbtn {
        cursor: pointer;
        display: none;
      }
    }
    .nav-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-logo {
        color: $primary-text-color;
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.1px;
        cursor: pointer;
      }
      .nav-manu {
        margin-left: -200px;
        ul {
          display: flex;
          align-items: center;
          column-gap: 21px;
          li a {
            color: $text-color;
            text-transform: capitalize;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.2px;
            transition: all linear 0.3s;
            cursor: pointer;
            &:hover {
              color: $primary-text-color;
            }
          }
        }
      }
      .nav-btn {
        display: flex;
        align-items: center;
        .nav-login {
          display: flex;
          align-items: center;
          color: $secondery-text-color;
          margin-right: 45px;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0.2px;
          cursor: pointer;
        }
      }
    }
  }
}

// Banner Part
#banner {
  background-image: linear-gradient(
      90deg,
      #fff 14.24%,
      #fff 14.25%,
      rgba(255, 255, 255, 0) 99.55%
    ),
    url(/image/hero-3-cover\ sec-.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .banner-wrapper {
    padding-top: 275px;
    padding-bottom: 112px;
    display: flex;
    flex-direction: column;
    h1 {
      width: 561px;
      height: 160px;
      font-size: 58px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: 0.2px;
      text-transform: capitalize;
      margin-bottom: 35px;
    }
    .p-same {
      margin-bottom: 35px;
    }
    .p-text-banner {
      color: $primary-text-color;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.2px;
      margin-bottom: 35px;
    }
    .banner-btn {
      display: flex;
      column-gap: 10px;
    }
    .banner-2nd-btn {
      background: transparent;
      color: $secondery-text-color;
    }
    .banner-2nd-btn:hover {
      background-color: $secondery-text-color;
      color: $primary-text-color;
    }
  }
}

// Service Part
#service {
  padding: 112px 0;
  .service-wrapper {
    .service-items-text {
      .p-same {
        margin-bottom: 10px;
      }
      h4 {
        color: $primary-text-color;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        margin-bottom: 10px;
      }
      .servi-text {
        width: 470px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 112px;
      }
    }
    .service-card {
      display: flex;
      align-items: flex-start;
      gap: 30px;
      .service-cards {
        box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.1);
        width: 238px;
        padding: 35px 40px;
        border-radius: 5px;
        img {
          width: 70px;
          margin-bottom: 20px;
        }
        h5 {
          color: $primary-text-color;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.1px;
          margin-bottom: 40px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: $secondery-text-color;
            left: 0;
            bottom: -20px;
          }
        }
        .card-para {
          width: 132px;
          color: $text-color;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .service-cards-3rd {
        background-color: $secondery-text-color;
        width: 257px;
        h5,
        p {
          color: $light-text-color !important;
        }
        .single-line {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            color: $light-text-color !important;
            width: 50px;
            height: 2px;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}

// Video part
#video {
  background-color: #fff;
  padding: 160px 0;
  .video-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .video-text-part {
      display: flex;
      flex-direction: column;
      .line {
        width: 95px;
        height: 7px;
        margin-top: 33px;
        margin-bottom: 35px;
        background-color: $secondery-text-color;
      }
      h3 {
        width: 353px;
        color: $primary-text-color;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.2px;
        margin-bottom: 35px;
      }
      .video-descr {
        width: 351px;
        color: $primary-text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 35px;
      }
      .dc-about {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .doctor-video {
      position: relative;
      display: flex;
      align-items: center;
      .doc-vid-1 {
        border-radius: 10px;
      }
      .doc-vid-2 {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

// Leading Medican Part
#leading {
  background-color: #fff;
  padding: 100px 0;
  .container {
    .leading-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 100px;
      .leading-img-part {
        width: 544px;
        height: 599px;
        position: relative;
        display: flex;
        gap: 50px;
        flex-direction: column;
        .lead-img-1 {
          width: 116px;
          display: flex;
          align-self: flex-end;
        }
        .lead-img-2 {
          position: absolute;
          top: 20px;
          right: 33px;
          z-index: 2;
        }
        .lead-img-3 {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
        }
      }

      .leading-text-part {
        width: 381px;
        display: flex;
        flex-direction: column;
        .line-2 {
          width: 95px;
          height: 7px;
          margin-bottom: 35px;
          background-color: $secondery-text-color;
          margin-top: 176px;
          margin-bottom: 35px;
        }
        h3 {
          width: 381px;
          color: $primary-text-color;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 0.2px;
          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 35px;
        }
      }
    }
  }
}

// Our Product part
#product {
  padding: 100px 0;
  .container {
    .product-wrapper {
      .product-head-text {
        margin-bottom: 112px;
        h2 {
          color: $primary-text-color;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 0.2px;
          margin: 10px 0;
        }
        p {
          width: 469px;
          color: $text-color;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .product-section {
        display: flex;
        column-gap: 30px;
        .product-card {
          display: flex;
          flex-direction: column;
          .card-img {
            position: relative;
            img {
              width: 100%;
              display: flex;
              align-items: center;
            }
            .shop {
              position: absolute;
              width: 100%;
              height: -10px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 15px;
              top: 90%;
              transform: translateY(-50%);
              i {
                font-size: 20px;
                background-color: #fff;
                color: $secondery-text-color;
                padding: 10px;
                border-radius: 50%;
              }
            }
          }
          .card-text {
            padding: 25px 0 25px 25px;
            .card-same {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 13px;
              span {
                background-color: $primary-text-color;
                color: $light-text-color;
                border-radius: 50px;
                padding: 2px;
                font-size: 12px;
                i {
                  // margin-right: 5px;
                  color: $secondery-text-color;
                }
              }
            }
            .card_p_1 {
              width: 131px;
              color: $primary-text-color;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
              margin: 10px 0;
            }
            .card_p_2 {
              width: 182px;
              color: $text-color;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              letter-spacing: 0.2px;
              margin-bottom: 10px;
            }
            .card_p_3 {
              color: $text-color;
              font-size: 14px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.2px;
              margin-bottom: 10px;
              i {
                margin-right: 10px;
              }
            }
            .card_p_4 {
              padding: 5px;
              color: #bdbdbd;
              font-size: 16px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.1px;
              span {
                color: #0061ff;
                margin-left: 5px;
              }
            }
            .card-more {
              width: 156px;
              display: flex;
              align-items: center;
              padding: 10px 20px;
              border: 1px solid $secondery-text-color;
              border-radius: 50px;
              color: $secondery-text-color;
              font-size: 14px;
              font-weight: 700;
              line-height: 24px;
              letter-spacing: 0.2px;
              margin-top: 10px;
              i {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

//Our Exparts
#exparts {
  padding: 100px 0;
  .container {
    .expart-wrapper {
      display: flex;
      flex-direction: column;
      .expart-head-text {
        width: 50%;
        margin-bottom: 100px;
        h3 {
          color: $primary-text-color;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 0.2px;
          margin: 10px 0;
        }
        p {
          color: $text-color;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .expart-info {
        display: flex;
        flex-direction: row;
        gap: 30px;
        .expart-1 {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            border-radius: 50%;
            border: 2px solid $secondery-text-color;
            margin-bottom: 30px;
          }
          .description {
            color: $text-color;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-bottom: 15px;
          }
          .stars {
            display: flex;
            flex-direction: row;
            gap: 5px;
            color: $secondery-text-color;
            margin-bottom: 15px;
          }
          h6 {
            color: $primary-text-color;
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.1px;
            margin-bottom: 9px;
          }
          .job-name {
            color: $text-color;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }
}

// Team Part
#team {
  padding: 100px 0;
  .container {
    .team-wrapper {
      .team-head-text {
        width: 50%;
        margin-bottom: 80px;
        h3 {
          color: $primary-text-color;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 0.2px;
          margin: 10px 0;
        }
        .team-about {
          width: 469px;
          color: $text-color;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .team-items {
        display: flex;
        column-gap: 30px;
        .team-parson {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-bottom: 30px;
          border-radius: 20px;
          cursor: pointer;
          -webkit-box-shadow: -3px 2px 21px -6px rgba(66, 68, 90, 1);
          -moz-box-shadow: -3px 2px 21px -6px rgba(66, 68, 90, 1);
          box-shadow: -3px 2px 21px -6px rgba(66, 68, 90, 1);
          img {
            border-radius: 20px 20px 0 0;
            margin-bottom: 30px;
          }
          h4 {
            color: $primary-text-color;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.1px;
            margin-bottom: 10px;
          }
          p {
            color: $text-color;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.2px;
            margin-bottom: 10px;
          }
          .tem-social {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            i {
              font-size: 20px;
              color: $secondery-text-color;
            }
          }
        }
      }
    }
  }
}

// Join Us part
#joinus {
  padding: 100px 0;
  .container {
    .joinus-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .joinus-head-txt {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 80px;
        h2 {
          margin: 10px 0;
          color: $primary-text-color;
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: 0.2px;
        }
        .join-about {
          width: 469px;
          color: $text-color;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
        }
      }
      .search-container {
        width: 50%;
        form {
          position: relative;
          width: 100%;
          input {
            width: 100%;
            height: 58px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            background-color: #f0f0f0;
            &:hover {
              border: none;
            }
          }
          button {
            position: absolute;
            width: 20%;
            border: none;
            font-size: 16px;
            height: 58px;
            top: 0;
            right: 0;
            border-radius: 10px;
            background-color: $secondery-text-color;
            color: #fff;
          }
        }
      }
    }
  }
}

// Footer part
#footer {
  padding: 100px 0;
  .container {
    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      .footer-items {
        h4 {
          color: $primary-text-color;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.1px;
          margin-bottom: 20px;
        }
        p {
          color: $text-color;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.2px;
          margin-bottom: 10px;
        }
        .fo-social-1 {
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            margin-right: 10px;
            font-size: 20px;
            color: $secondery-text-color;
          }
        }
      }
    }
  }
}

// Copyright Part
#copyright {
  padding: 25px 0;
  .container {
    .copyright-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .copy-txt {
        p {
          color: $text-color;
          font-size: 14px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.2px;
        }
      }
      .copy-mediya {
        display: flex;
        align-items: center;
        gap: 20px;
        i {
          font-size: 22px;
          color: $secondery-text-color;
        }
      }
    }
  }
}

// @media (max-width: 952px) {
//   .nav-wrapper {
//     .nav-logo {
//       font-size: 24px;
//     }
//     .nav-manu {
//       ul li a {
//         font-size: 18px;
//       }
//     }
//   }
// }

// @media (max-width: 858px) {
//   .cheakbtn {
//     display: block;
//   }
//   .nav-wrapper{
//     .nav-manu {
//       ul{

//       }
//     }
//   }
// }
